<header>Create a Post!</header>

<div class="container">
  <form action="/create_post">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" placeholder="Enter Title">
    </div>

    <!--Figure out how to generate a list of available categories to select from, with Backbone-->

    <div class="form-group">
      <label for="question">Your Question:</label>
      <textarea class="form-control" name="answer" rows="5"></textarea>
    </div>
    <button class="btn btn-success" type="submit">Submit Question</button>
  </form>
</div>
