<header>Login</header>

<div class="container-fluid">
  <form action="/login" method="post">
    <div><span>E-Mail:</span>
      <input name="email" type="text"/>
    </div>
    <div><span>Password:</span>
      <input name="password" type="password"/>
    </div>
    <button type="submit">Login</button>
  </form>
</div>
<p>Don't have an account? Register now by clicking below!</p>
<div class="container-fluid">
  <form action="/register" method="post">
    <button type="submit">Register</button>
  </form>
</div>
