extends layout

block content

  .container
    h1 Create a Post!
    form(action='/posts', method='post')
      .form-group
        label Title
        input.form-control(name='title', type='text', placeholder='Enter Title')
      .form-group
        label Your Question:
        textarea.form-control(name='postText', rows='5')
      .form-group
        label bounty
        input.form-control(name='bounty', type='text', placeholder='Enter Bounty')
      button.btn.btn-success(type='submit') Submit Question
