extends layout

block content

  .container
    br
    .starter-template
      h1 
        | Welcome to 
        b Questioneer
        | , pretty much the coolest website ever.
      p.lead
        | Ask a question, or answer someone else's for money!
        br
        | All you need is a Ripple Trade account!
      if current_user_logged_in
        a.btn.btn-success(type='button', href='/posts/new') Create Post
      else
        a.btn.btn-primary(type="button", href='/login') Log In