extends layout

block content
  .container
    h1.text-center Login to start asking and answering!
    br
    .row
      .col-md-4
      .col-md-4
        form(class='form-signin', action='/login', method='POST')
          .form-group
            label Email
            input(type='text', name='username' class='form-control', placeholder='Email',required, autofocus)
          .form-group
            label Password
            input(type='password', name='password' class='form-control', placeholder='Password', required)
          button(class='btn btn-lg btn-primary btn-block', type='submit') Sign in
          span.clearfix
      .col-md-4
    br
    p.text-center
      a.new-account(href='/signup') Create an account
