extends layout

block content
  .container
    h1 #{post.title}
    h2 by #{post.user.userName}
    
    p #{post.postText}
    
    span &nbsp;
    
    if logged_in
      header Type Your Answer:
      form(action='answer/', method='post')
        textarea.form-control(name='answerText', rows='5')
        br
        button.btn.btn-success(type='submit') Submit Answer
    else
      p
        a(href='/login') Log in 
        | to answer this question!
