h #{category.name}

block content
  table.table.table-striped.table-condensed
    thead
      tr
        th Title
        th Status
        th Answer Count
    tbody
      each post in posts
        tr
          td
            = post.title
          td
            = post.status
          td
            = post.answer_count
